Repository NewSignature/conduit-on-web: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/main.yml, pipelines/sample.yml

pipelines/main.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - pipelines/*

variables: 
  solution: '*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  TerraformBackend.ResourceGroup: rg-conduit-on-web-staging-001
  TerraformBackend.StorageAccount: strconduitonwebtfrm01
  TerraformBackend.ContainerName: staging
  AzureServiceConnection: nebbia-partner-service-connection

pool:
  vmImage: 'windows-latest'

stages:
- stage: build
  displayName: Build
  jobs: 
  - job: job_build
    displayName: 'Build Backend'
    steps:
    - task: NuGetToolInstaller@1

    - task: NuGetCommand@2
      inputs:
        restoreSolution: '$(solution)'

    - task: VSBuild@1
      inputs:
        solution: '$(solution)'
        msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'

    - task: VSTest@2
      inputs:
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)
        ArtifactName: backend
- stage: deploy
  displayName: Staging
  jobs: 
  - job: job_staging
    displayName: 'Staging'
    steps:
      - task: AzureCLI@2
        inputs:
          azureSubscription: $(AzureServiceConnection)
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: |
            az group create --location eastus --name $(TerraformBackend.ResourceGroup)
            
            az storage account create --name $(TerraformBackend.StorageAccount) --resource-group $(TerraformBackend.ResourceGroup) --location eastus --sku Standard_LRS
            
            az storage container create --name staging --account-name $(TerraformBackend.StorageAccount)

            STORAGE_ACCOUNT_KEY=$(az storage account keys list -g $(TerraformBackend.ResourceGroup) -n $(TerraformBackend.StorageAccount) | jq ".[0].value" -r)

            echo "setting storage account key variable"
            echo "##vso[task.setvariable variable=ARM_ACCESS_KEY;issecret=true]$STORAGE_ACCOUNT_KEY"

pipelines/sample.yml:

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - pipelines/*
      - iac/*

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: stage_deploy
  displayName: Production
  jobs: 
  - job: job_deploy_infrastructure
    displayName: Deploy Some Infrastructure
    steps:
    - bash: |
        echo "this is some build job"
        echo "creating a pipeline variable"
        SOMEVALUE="bleh"
        echo "##vso[task.setvariable variable=someName;isOutput=true;]$SOMEVALUE"
        echo "variable value is $(someName)"
  - job: job_deploy_code
    displayName: Deploy Some Code
    dependsOn: ['job_deploy_infrastructure']
    variables: 
      someName: $[ dependencies.job_deploy_infrastructure.outputs['someName'] ]
    steps: 
    - bash: |
        "the variable value is $(someName)"

fixing the example
  pipelines/sample.yml
Due: none

Update index.html
  src/conduit-front-end/public/index.html
Due: pipelines/main.yml, pipelines/sample.yml

Added app insights to export
  iac/outputs.tf
Due: pipelines/main.yml

Update main.yml for Azure Pipelines
  pipelines/main.yml
Due: none

Added KeyVault #17470
  iac/key_vault.tf
  iac/main.tf
Due: pipelines/main.yml

Added identity type of SystemAssigned to app_service
  iac/app_service.tf
Due: pipelines/main.yml

Grant App Service to Key Vault using the managed Identity and Tag the resource group on Azure #17472 #17473
  iac/key_vault.tf
  iac/main.tf
Due: pipelines/main.yml

Added Gauna
  iac/main.tf
Due: pipelines/main.yml
